secret
*.tmp
*.o
rockchip-linux-u-boot.git
/rockchip-linux-u-boot-emmc.git/
/rockchip-linux-u-boot-spi.git/
/rockchip-linux-u-boot.git-01.tar.gz
/BDY_G98_RK3588-kernel.git
/kernel.git
/uboot.git
/backup
/recovery/only-emmc/recovery-g98_only-emmc.img
/recovery/only-emmc/uboot-g98_only-emmc.img
/recovery/only-spi/uboot-g98_only-spi.img
/recovery/only-spi/recovery-g98_only-spi.img
/uboot-upstream.git
/khadas-android14-g98.git
/edk2-uefi.git
/khadas-android12-g98.git/
/khadas-android13-g98.git/
/edk2.git
/linux-stable.git
